
header {
  display: inline-flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60%;
  background-color: rgba(14, 14, 14, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  margin: 10px auto;
  left: 0;
  right: 0;
  z-index: 1;

  nav {
    display: inline-flex;
    align-items: center;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 20px;

        a {
          text-decoration: none;
          font-size: 1.2em;
          color: #8a8989;
        }

        &:hover {
          a {
            color: #ffffff;
          }
        }
      }

      // ant design dropdown
      .ant-dropdown-trigger {
        display: inline-block;
        color: #8a8989;
        font-weight: 300;
        font-size: 1.2em;

        &:hover {
          color: #ffffff;
        }
      } 
    }
  }
  .logo {
    color: #ffffff;
    margin: 0 20px;
    size: 3em;
  }
  .menu-dropdown {
    margin: 0 20px 0 20px;
    display: none;
    color: #ffffff;
    size: 1.2em;
  }

  @media screen and (max-width: 1279px) {
    width: 65%;
    nav {
      ul {
        li {
          margin: 0 19px;
        }
      }
    }
  }

  @media screen and (max-width: 1218px) {
    width: 70%;
    nav {
      ul {
        li {
          margin: 0 18px;
        }
      }
    }
  }

  @media screen and (max-width: 1198px) {
    width: 75%;
    nav {
      ul {
        li {
          margin: 0 17px;
        }
      }
    }
  }

  @media screen and (max-width: 1165px) {
    width: 80%;
    nav {
      ul {
        li {
          margin: 0 16px;
        }
      }
    }
  }

  @media screen and (max-width: 1056px) {
    width: 85%;
  }

  @media screen and (max-width: 997px) {
    width: 90%;
  }

  @media screen and (max-width: 935px) {
    nav {
      ul {
        li {
          margin: 0 14px;
        }
      }
    }
  }

  @media (max-width: 835px) {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    nav {
      ul {
        li {
          display: none;
        }
        .ant-dropdown-trigger {
          display: none;
        }
      }
    }

    .menu-dropdown {
      display: block;
    }
  }
}
